[2017-11-08 17:31] keyfer opened #1 "County select word clipping"
Firstly, this is beautiful. Great work.

## Current Behavior
The bottom of the `g` is getting clipped:
![https://screenshot.click/08-29-u2hyc-z7jpp.jpg](https://screenshot.click/08-29-u2hyc-z7jpp.jpg)

## Possible Solution
On `.custom-select` the line height should be `1.2` instead of `1.1`.

![https://screenshot.click/08-30-8zhuf-njra8.jpg](https://screenshot.click/08-30-8zhuf-njra8.jpg)

[2017-11-09 08:09] hisk commented on #1
Thank you @keyfer , I'm glad you like it! 😄

[2017-11-09 08:09] #1 closed

[2017-11-09 13:37] AdityaAnand1 opened #4 "How about a better license?"
(eg. generators, etc) - NO
  1.5. - Creation of product(s) aimed for specific platform(s).
         (eg. WordPress Themes, etc) - NO

...

Seriously?

[2017-11-09 14:06] hisk commented on #4
@AdityaAnand1 I understand your frustration and the license is subject to change in the near future to a more permissive alternative.

[2017-11-09 14:06] #4 closed

[2017-11-09 14:53] peterbrinck commented on #4
I have now seen multiple people mentioning the license.
And I really think, if you want this project to take off, that you need to change the license.

[2017-11-09 17:01] hisk commented on #4
@peterbrinck I am aware and I find it interesting how summarising a license's terms can impact a product. There are many open source projects with similar strict license terms that took off without any complaints from the community.

The current license is quite permissive except for users that want to build and **commercially distribute end-products based on Shards** _(eg. static layouts or WordP

[2017-11-10 05:22] AdityaAnand1 commented on #4
Uhmm, that is extremely vague and covers every single use case I can think of. Also there are other kinds of SaaS, not just "generators".

If you're simply trying to make $$ off this (which, by all means, you're entitled to), consider adding a revenue clause for businesses. That is, say if a company makes more than $100k annually or something and wants to use Shard in their product then they'll ne

[2017-11-10 09:49] hisk commented on #4
@AdityaAnand1 My goal is not to make money out of this and definitely not in the way you insinuate. The license is strict and it will remain so for now even if it hurts adoption. Everyone who wanted to integrate Shards into their SaaS project and couldn’t wait emailed me and asked for permission describing exactly what their service does, which I think is a considerate thing to do.

[2017-11-10 11:08] georgemicheal21 commented on #4
@hisk Which is it?

or

I'm not going to tell you my website idea just to get permission and that's not considerate but rather presumptuous to think that most users would. If your goal is not to make money out of this then what possible logical reason is there to add those restrictions? To me this whole thing feels so much against the principles of open source. And from what I saw in the reddit an

[2017-11-10 20:39] hisk commented on #4
@AdityaAnand1 @peterbrinck @georgemicheal21 I really hope a47e554 and [my latest announcement](https://designrevision.com/shards-relicensing-update-1-1-0/) will benefit the open source community and contribute to a better web without creating any more confusion. 😄

Now that this issue is closed for good, go and make something awesome with Shards! 🙌 I'd love to see what you come up and even give yo

[2017-11-11 09:43] peterbrinck commented on #4
Amazing! :smile:

Thanks a lot for changing the license!
I will now definitely go talk to my boss about a possible switch from our, now boring, material design to Shards! :smile:

[2017-11-12 04:46] georgemicheal21 commented on #4
@peterbrinck Just out of curiosity, what library/framework do you use right now? (for material design)

[2017-11-13 14:40] peterbrinck commented on #4
@georgemicheal21

We use Bootstrap and this: https://wrapbootstrap.com/theme/material-admin-responsive-admin-theme-WB011H985

[2017-11-14 20:19] BobWalsh opened #5 "datepicker fails with jquery3"
With:
$('.datepicker-shard').datepicker({});
<input type="text" class="datepicker-shard form-control" id="review_date_1">

When using jQuery JavaScript Library v1.12.4 it works as expected.
When using jQuery JavaScript Library v3.2.1 throws:
`jquery3.self-06c43429d1047ce3f355da574d8a9750209971b8b1b8f264f91f5518c5fcc060.js?body=1:3861 jQuery.Deferred exception: $(...).datepicker is not a function T

[2017-11-15 08:16] ben182 commented on #5
Hi BobWalsh,
I tested this behaviour and can not reproduce this. Can u give us more information about ur implementation? Full code in JS Fiddle for example?

[2017-11-19 06:21] skazhikadyadya opened #7 "SCSS Compiling Error"
Hi, thank you for nice framework.

When I try to compile .scss I see that:

[code]

At _box-shadow.scss:
[code]

How I can fix that? Thank you.

[2017-11-19 07:18] hisk commented on #7
Thanks! I'm glad you like it. 😄

That is a little bit odd. Have you modified anything in Shards' SCSS files or tried to use the `box-shadow()` mixin without passing a value? Also, what SCSS compiler version are you using?

[2017-11-19 07:58] skazhikadyadya commented on #7
No. I was only download sources as .zip and try to use phpstorm with default SCSS Watcher for compile new css (Poppins font unfortunately don't have cyrillic).

sass-3.5.1 in my Ruby install directory.

Thanks.

[2017-11-19 13:40] skazhikadyadya commented on #7
My bad, when I was change ruby to nodejs on phpstorm files watchers it's work well. Thank you. :)

[2017-11-19 13:40] #7 closed

[2017-12-01 12:09] iamDecode opened #8 "Custom-toggle broken on Safari"
When using the custom-toggle class in Safari, the toggle knob animates out of bounds.

![screen recording 2017-12-01 at 01 04 pm](https://user-images.githubusercontent.com/1223300/33482321-bca50b8a-d698-11e7-9e13-12532c02b307.gif)

## Expected Behavior
The toggle knob animates left (off) to right (on).

## Current Behavior
On Safari the knob animates left out of the bounds of the control.

## Poss

[2017-12-01 12:44] hisk commented on #8
This is great, thanks for your detailed submission! 😄 I'm on it!

[2017-12-04 14:46] hisk opened #9 "The custom toggle's knob breaks the toggle's border display."
## Current Behavior
The custom toggle's knob breaks the toggle's border display.

![screen shot 2017-12-04 at 12 01 10](https://user-images.githubusercontent.com/1017536/33557932-4b3abdd4-d911-11e7-8a8d-c91301a02fa6.jpg)

## Possible Solution
This issue may be related to this known [webkit bug](https://bugs.chromium.org/p/chromium/issues/detail?id=62363) and it may be fixed (in a hacky way) by app

[2017-12-04 14:56] hisk opened #10 "Demo page welcome section and color swatches issues on iPhone 6"
## Current Behavior
The welcome section elements are not stacked properly and the color swatches are not properly aligned on iPhone 6.

![dr_shards_mobile_iphone 6-8 0](https://user-images.githubusercontent.com/1017536/33558935-e49b21f6-d913-11e7-8660-81010da2adf2.jpg)

![dr_color_swatches_mobile_iphone 6-8 0](https://user-images.githubusercontent.com/1017536/33558926-dbf150ac-d913-11e7-9831-65989

[2017-12-04 15:38] #10 closed

[2017-12-04 15:39] #9 closed

[2017-12-04 15:39] #8 closed

[2017-12-06 11:53] balabanov opened #11 "Layout issues for Shards demo in IE11"
I've noticed that the [Shards demo](https://designrevision.com/demo/shards/extra/app-promo.html) has some rendering issues in IE11.

## Current Behavior

App image is vertically misaligned and the cards layout has some width issues.
![2017-12-06 13_50_18-shards - agency landing page built with shards - a modern ui toolkit](https://user-images.githubusercontent.com/921147/33660479-98535726-da8c-11e

[2017-12-06 12:25] hisk commented on #11
Thank you very much for taking the time to submit this issue @balabanov ! I'm on it. 😄

[2017-12-12 22:09] Geczy opened #12 "Error compiling scss"
[code]

I receive the following error located here

https://github.com/DesignRevision/shards-ui/blob/master/src/scss/_variables.scss#L744

[code]

[2017-12-13 08:01] hisk commented on #12
The `$popover-arrow-width` variable uses `px` [a few lines above](https://github.com/DesignRevision/shards-ui/blob/master/src/scss/_variables.scss#L740) in Shards.

Please make sure that you are using the `beta-1` version of Bootstrap 4 or that you are not changing the value type somewhere in between.

[2017-12-13 15:59] hisk commented on #12
Oh, haven't noticed that, thanks for pointing it out. Please let me know if using `beta-1` fixes your issue.

[2017-12-13 16:09] Geczy commented on #12
It does fix it. Rolling back is not a fix though, do you plan to support bootstrap 4b2?

[2017-12-13 16:31] hisk commented on #12
Adding support for beta-2 is on the list, but not a priority yet. If v4-stable doesn't ship by then, expect some movement in that direction starting early next year.

[2017-12-20 05:59] dlucian commented on #12
At least you might consider changing the README.md, otherwise anyone who tries to install it via npm will hit this error. I bumped into it a few moments ago, good thing I was subscribed to the issues and was aware of this.

[2017-12-23 13:39] danielntech commented on #5
Hello, I tried to reproduce this issue as you said but I failed to achieve the same results.
Would you mind to share more information? Such as what browser do you use or anything else that can be relevant to this case.

[2017-12-26 08:14] hisk commented on #5
I tried to reproduce it too but failed so I'm closing it for now until we get more details.

[2017-12-26 08:14] #5 closed

[2018-01-10 19:38] artknight opened #13 "Bootstrap 4 does not use input-group-addon"
Bootstrap 4 does not use `input-group-addon` any longer.

It uses `input-group-prepend` and `input-group-append`.

Please update your code base!

[2018-01-24 13:50] yiss opened #14 "problem with checkbox when using it with angular 5"
The checkbox doesn't show properly when using it with Angular 5, any thoughts on what may cause the problem ?
Image : https://ibb.co/jPyK9G

[2018-01-24 18:22] bogdanciuca commented on #14
Are you using a beta version of Bootstrap 4?

[2018-01-24 19:08] hisk commented on #14
@yiss I haven't tested Shards with Angular 5 and I'm not aware of its internals or if they're compatible at all. Can you please tell me more about your current setup so I can try to reproduce this issue locally?

[2018-01-25 09:42] dnkmiller commented on #14
I have the same issue after upgrading to Bootstrap V4 (rather than beta) so assume that is the issue?

[2018-01-25 09:53] yiss commented on #14
`"dependencies": {
    "@angular/animations": "^5.2.0",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@angular/core": "^5.2.0",
    "@angular/forms": "^5.2.0",
    "@angular/http": "^5.2.0",
    "@angular/platform-browser": "^5.2.0",
    "@angular/platform-browser-dynamic": "^5.2.0",
    "@angular/router": "^5.2.0",
    "bootstrap": "4.0.0",
    "core-js": "^2.4.1",

[2018-01-25 10:15] hisk commented on #14
@dnkmiller @yiss Unfortunately Shards does not currently support the final version of Bootstrap 4, only beta-1. We are already working internally on updating it to the latest version. Expect updates soon. 😃

[2018-01-25 10:29] yiss commented on #14
@hisk You're right the problem is a Bootstrap 4.0.0 problem, I don't have this problem using the version 4.0.0-beta.2, thank you :)

[2018-01-28 01:48] artknight commented on #13
what's the progress on this?

[2018-01-28 06:36] hisk commented on #13
@artknight Sorry for the huge delay. We are already working on updating Shards to work with Bootstrap 4 final. Expect updates soon. 😄

[2018-01-28 06:36] #14 closed

[2018-01-28 22:02] rodrigorhas opened #15 "[Discussion] Vuejs Shards components"
Hey :). What about Vue.js instead of jQuery?
There are a lot of benefits around this "migration".
Did you think about it ?

- Modularization
- Scalability
- Vuejs support :D
- SFC (single file components)
- More maintainable code

Sorry if this isn't the best place to discussion

[2018-01-28 22:13] Geczy commented on #15
Why not reactjs?

[2018-01-28 22:30] rodrigorhas commented on #15
Because Vuejs is too easy to learn by the learning curve and its the easiest "lib / ecosystem / framework" at the moment. IMHO.

[2018-01-29 09:20] hisk commented on #15
@rodrigorhas @Geczy Great proposals! 👍 I also thought about this for a while and I think it would be great to build both React and Vue versions of Shards. I snoozed the idea until Bootstrap 4 final was released to reduce the amount of potential overhead created by possible inconsistencies between versions.

However, I'm afraid we won't be able to fully take on both projects for now, but I am willi

[2018-01-29 12:02] rodrigorhas commented on #15
Wow. So nice  @hisk. Thanks for reply.

[2018-01-30 10:26] jinfagang opened #16 "How to enable navigation?"
I seek documentation and found not such describe which how to enable a navigationbar just like the **shards** official website?

[2018-01-30 10:32] hisk commented on #16
@jinfagang Please make sure you check out the actual [extra demo page markup](https://github.com/DesignRevision/shards-ui/blob/master/src/extras/shards-demo.html) included in the package. Also, you can read more about how you can create navbars in the [official Bootstrap 4 documentation](https://getbootstrap.com/docs/4.0/components/navbar/). :)

[2018-01-30 10:32] #16 closed

[2018-02-08 01:53] tristanmarsh commented on #13
Great News!

[2018-02-08 20:37] hisk commented on #13
This issue was fixed in e1edfcc28351326cd4940eba2571d8d1b9e2b6d8.

[2018-02-08 20:37] #13 closed

[2018-02-08 20:37] hisk commented on #11
This issue was fixed in e1edfcc28351326cd4940eba2571d8d1b9e2b6d8.

[2018-02-08 20:37] #11 closed

[2018-02-09 15:04] Geczy commented on #13
You mean the monolith commit that took 9 days to load? lol

[2018-02-09 18:54] hisk commented on #13
@Geczy I started the BS4 final upgrade in the initial private repo I created before releasing Shards publicly and then just dumped the whole thing here. I know, bad practice, but from now on everything will be done more incrementally and in the public repo. 😄

[2018-02-10 18:51] wbhob opened #17 "Tabs component"
I am wondering if there is a plan for an implementation of the Bootstrap Tabs component. I know this is for bugs, but there is nowhere to request a feature.

[2018-02-11 14:41] hisk commented on #17
@wbhob Not sure I understand this request. The core Bootstrap 4 [tabs](https://getbootstrap.com/docs/4.0/components/navs/#tabs) are already adjusted to match Shards' design. You can also see an [example in the docs](https://designrevision.com/docs/shards/cards.html) showcasing tabs within cards. Please provide a link If you are referring to a 3rd party component library or something similar. 😄

[2018-02-11 15:25] wbhob commented on #17
Oh, I see. I was thinking more of a tabs subnavigation, like the Ant Design component (but that's not an official bootstrap component, so I don't know why it would be here). Thanks!

[2018-02-11 15:25] #17 closed

[2018-02-15 10:12] dlucian opened #18 "Shards UI doesn't work as submodule"
## Expected Behavior

Adding shards-ui as a submodule for a bigger project does not work as shards.scss imports a bootstrap 4 module via relative path.

## Current Behavior

When using shards-ui as submodule via:

[code]

Building the application fails due to:

[code]

This happens because of the `@import` in https://github.com/DesignRevision/shards-ui/blob/master/src/scss/shards.scss#L9

## Possi

[2018-02-16 15:10] ben182 commented on #18
When do u plan to release the patch?

[2018-02-16 17:08] hisk commented on #18
@ben182 During this weekend or Monday at the latest with a couple of other small improvements. 😄

[2018-02-16 17:17] hisk opened #20 "Append / prepend input group addons have wrong z-index value"
## Expected Behavior
The appended or prepended input group add-ons should not overlap other elements.

## Current Behavior
Both they currently have a really high sticky z-index value.

<img width="198" alt="screen shot 2018-02-16 at 19 11 16" src="https://user-images.githubusercontent.com/1017536/36320053-8f6430d2-134d-11e8-9971-ab9fc2bb43a6.png">

_(Trust me, there's an input below the dropdown m

[2018-02-16 20:40] hisk opened #21 "The JavaScript package cannot be imported as a module"
## Current Behavior
Shards' JavaScript package (`dist/js/shards.js`) cannot be imported as a module in other projects due to the invalid package entrypoint inside `package.json`.

[2018-02-17 18:05] #20 closed

[2018-02-19 11:27] #18 closed

[2018-02-19 11:27] #21 closed

[2018-02-21 14:19] hisk opened #24 "Input group middle add-on"
Currently, there's no simple/elegant way of creating input groups with text addons placed in the center and I think this would be a great small addition for the next patch.

In addition to the `.input-group-prepend` and `.input-group-append` classes I think there should be an extra `.input-group-middle` class specific for this use case.

**Demo Example**
<img width="492" alt="screen shot 2018-02-2

[2018-02-21 14:55] hisk opened #25 "Small custom toggle modifier class"
Another great enhancement proposed by @nmyvision would be a `.custom-toggle-sm` modifier class for the custom toggle form controls that adjusts their size and integrates them better with the custom radio and custom checkbox form controls. In terms of sizing, I think `35px` in width and `18px` in height would fit best.

**Markup:**
[code]

**Demo:**

<img width="137" alt="screen shot 2018-02-21 at

[2018-02-22 16:05] #25 closed

[2018-02-22 16:14] #24 closed

[2018-04-01 15:14] pascalandy opened #28 "ENJOYING_THIS_PROJECT="SayThankYou""
Here is the place to say thank you to folks who are working hard on this project.

« One of the greatest ways to show your appreciation to open source projects you enjoy is to open an issue that let people say thank you »

_Disclaimer: I don't have any kind of connexion or personal interest with maintainers(s) of this project. Pure gratitude here._

Cheers!

[2018-04-01 15:14] pascalandy commented on #28
In less than 2 minutes, I could arrange this template easily! Thank you a thousand times!!

[2018-04-01 16:07] pascalandy opened #29 "Main title padding issue, mobile"
On my iPhone 7, I saw two glitches:

## Proposition

**1) Add line-height: 4.8rem;**

[code]

2) Add margin-bottom: 1.5em;

[code]

## Screenshots

1)
![photo_2018-04-01_12-04-05-b](https://user-images.githubusercontent.com/6694151/38175098-230b2b28-35a5-11e8-9393-b3e419ce1a59.jpg)

2)
![photo_2018-04-01_12-04-00](https://user-images.githubusercontent.com/6694151/38175097-22ff4a4c-35a5-11e8-88ff-e

[2018-04-02 18:01] hisk commented on #28
@pascalandy I’m really glad you like Shards and find it useful. 😄Cheers!

[2018-04-02 18:27] pascalandy commented on #29
Do you have any tutorial to share ?

I always work on the files in from DIR `/dist`. I know I should work from the source file but I don't know how to compile and do to whole workflow.

P.S. I'm really comfortable with docker. Cheers!

[2018-04-02 18:43] hisk commented on #29
@pascalandy Thanks for submitting this issue, I'll take a look in a few hours.

Regarding your last question, I will assume you are referring to a tutorial on how to build Shards from source. If so, the [node-sass](https://github.com/sass/node-sass) library readme does a pretty decent job at explaining how you can use it to compile SCSS files. If that isn't enough, you can also check out Brian Han

[2018-04-02 18:53] pascalandy commented on #29
Absolutely !

[2018-04-02 20:05] pascalandy commented on #29
I was able to run the example found on Brian Han's post.

Main commands are:

[code]

Now I applied the same logic to this project. I can run:

[code]

But I cannot run the **build** or **watch** functions. I would like to understand the command I'm missing :)

[2018-04-04 17:59] rodrigorhas opened #30 "Z-index issues at dashboard presentation site"
I'll give you more details about these issues

### Mobile only - hardware and software description
__Google Chrome__: 65.0.3325.109(Versão oficial) 32 bits
__Revision__: f412f53af6f3abcd6165b6cf0859dad2e88ff87d-refs/branch-heads/3325@{#626}
__SO__: Android 6.0.0; LG-K430 Build/MRA58K
__JavaScript__: V8 6.5.254.28
__User Agent__: Mozilla/5.0 (Linux; Android 6.0; LG-K430 Build/MRA58K) AppleWebKit/53

[2018-04-04 18:53] hisk commented on #30
@rodrigorhas Thank you so much for taking the time to submit this! 😄

[2018-04-04 19:07] rodrigorhas commented on #30
You're welcome @hisk, i love this theme and ill contribute whenever is possible

[2018-04-04 20:24] artknight opened #31 "noUiSlider v11.1.0 does not work with current CSS !!!"
I have upgraded our noUiSlider to the latest version ( 11.1.0 ) and shards-ui CSS breaks the slider. We are forced to resort to the native noUiSlider CSS. Please fix this.

Here is the screenshot of what happens

<img width="764" alt="screen shot 2018-04-04 at 4 22 45 pm" src="https://user-images.githubusercontent.com/157762/38332682-923edc02-3824-11e8-81fb-d8806163dfc3.png">

[2018-04-04 20:32] hisk commented on #29
@pascalandy Can you please post your current `package.json` configuration? :)

[2018-04-05 00:59] pascalandy commented on #29
Sure:

[code]

[2018-04-05 06:50] hisk commented on #29
Oh! You don't have to use Shards' build process for your own project because it's cluttered with other tasks to handle the extra templates and custom stylesheets that you'll probably won't need. Instead, I would recommend starting from scratch by creating a new project with two simple NPM tasks that you can build upon depending on your needs.

[code]

Based on the tasks above, assuming you install

[2018-05-01 15:27] artknight commented on #31
@hisk any idea when this might be released?

[2018-05-01 15:51] hisk commented on #31
@artknight Expect the next patch (which includes the fix for this issue) to be released in the next few days, at the latest by Monday.

[2018-05-01 18:34] hansy opened #32 "$popover-arrow-width SCSS variable in shards.css file"
I kept receiving parsing errors when trying to import styles in a Node project.  These lines might be the culprit:

https://github.com/DesignRevision/shards-ui/blob/bab8f42fdf6a75fac447bc2feda27b2800c845e6/dist/css/shards.css#L3973-L3979

[2018-05-01 18:37] hisk commented on #32
@hansy Can you please provide more details about your current setup? What version of Node are you using and what errors are you receiving?

[2018-05-01 19:01] hansy commented on #32
Of course. Actually (I apologize), I'm using [Nuxt v1.40](https://nuxtjs.org/), which is basically Vue.js.

Everything is the default configuration except that I included the use of the SASS preprocessor (`yarn add node-sass sass-loader`), and added a root .scss path to `nuxt.config.js`:

[code]
My `/assets/scss/index.scss` is:
[code]

This fails with:
[code]

Commenting out the shards import stat

[2018-05-01 19:35] hisk commented on #32
@hansy Great find! The `$popover-arrow-width` is not interpolated properly in the dist Shards CSS files and therefore the `css-loader` cannot parse it as it's not valid CSS.

https://github.com/DesignRevision/shards-ui/blob/3fe228e4851bb65b268670b1e0ed2497672d35cd/src/scss/_variables.scss#L759

I'll push the fix for this bug in the 2.0.3 patch which will be published in the following days or Monda

[2018-05-02 22:58] #32 closed

[2018-05-02 22:59] hisk commented on #31
@artknight This issue was fixed in https://github.com/DesignRevision/shards-ui/pull/33

[2018-05-02 22:59] #31 closed

[2018-05-02 22:59] #29 closed

[2018-05-03 03:59] pascalandy commented on #29
Thanks! Will test it :)

[2018-05-03 05:37] hisk commented on #30
I created a separate repo for the main site and moved this issue in there as it made more sense. :)

https://github.com/DesignRevision/designrevision.com/issues/1

[2018-05-03 05:37] #30 closed

[2018-05-06 14:40] artknight commented on #31
@hisk Thank you for the fix!!! I just double-checked and it indeed works!

I had to make one change though in _custom-slider.scss on line 17
`.noUi-handle {
      right: -10px; //changed from -17px
      left: auto;
    }`
...otherwise the handles were not aligned correctly.

[2018-05-06 15:35] hisk commented on #31
@artknight You are right, It should be `-10px`. 😄 I'll push the fix for this in the upcoming update that will also add support for Bootstrap 4.1.1. Thanks!

[2018-05-07 06:08] papakay commented on #28
Awesome project! You guys are great!

[2018-05-07 06:14] papakay opened #35 "Uncaught TypeError with Datepicker inside modal"
I want to really the great work you guys have done with this. It's incredible.

Please i'm having issue in getting the datepicker to work properly inside modal. The datepicker shows up but a jquery error is thrown which distort the modal size when i set modal-lg as the size of the modal.

<img width="533" alt="screen shot 2018-05-07 at 7 10 13 am" src="https://user-images.githubusercontent.com/501

[2018-05-07 13:17] hisk commented on #35
@papakay Thanks, I'm really glad that you like Shards! Can you please provide more details about your use case and maybe some code so I can try to recreate the issue locally?

[2018-05-07 15:06] papakay commented on #35
Thanks immensely at @hisk.

I found out the issue is not from Shards but from bootstrap datepicker.

There was a temporary hack given at https://github.com/uxsolutions/bootstrap-datepicker/issues/2370

[2018-05-07 15:06] #35 closed

[2018-05-10 14:41] abr4xas commented on #15
@hisk check this: https://bootstrap-vue.js.org/ this can help to build a new version of shards with vue.

[2018-07-05 02:08] dionfananie commented on #15
Please, it would be awesome when you build using vue :D !

[2018-07-11 12:09] blubbll commented on #28
sexy Theme! :3
~thx

[2018-07-14 13:51] sebastienvercammen commented on #15
Adding my +1 for Vue.js.

[2018-07-17 14:03] abr4xas commented on #15
@hisk what if you give us acces to a specific repo to work with vue / react?

[2018-07-17 14:36] hisk commented on #15
Thanks for your support and patience so far everyone! 🙇

@abr4xas I don't think that would be necessary as both React and Vue versions are almost complete and scheduled to be released very soon (next month). I know this took a while and even though I found handling all the products on my own a bit challenging I reconsidered getting external help for the initial release.

[2018-07-17 14:40] abr4xas commented on #15
@hisk no problem dude!!

[2018-07-18 18:41] rodrigorhas commented on #15
I'll start some sketch at my own, just for practice and studies.
@hisk :)

[2018-08-03 03:52] andreliem commented on #15
Actually, I've been considering building out Vue.js components with Shards as part of the vuejsradar.com articles I write... so glad I came across this thread here! Shards is awesome and I think it would compliment Vuejs really well.

[2018-08-05 14:55] Lahori-Jawan commented on #15
okay. I am done with patience. @rodrigorhas  @andreliem I have already done integrating it with Vue [here](https://github.com/Lahori-Jawan/vshards) :)

[2018-08-05 19:15] hisk commented on #15
@rodrigorhas @Lahori-Jawan

I'm super excited to see how much demand has been around this and while I truly understand everyone, I'm making another step in asking you for a little bit more patience. 😁

Shards Vue is a few weeks closer to the launch and it will be released with at least 80%+ Bootstrap 4 compatibility (the remaining of which will be community-driven after the initial release), integ

[2018-08-21 20:43] artknight opened #39 "list-group list-group-flush"
Using `list-group list-group-flush` class on a list adds rounded corners to first/last elements. That should not happen

[2018-08-25 12:16] hisk commented on #39
@artknight Hey Arthur! Thank you for taking the time to submit this and sorry for the huge delay. 😁You are correct, the 1st and last `.list-group-item`s have rounded borders, even if they shouldn't.

[2018-09-11 16:06] hisk commented on #15
@rodrigorhas @Geczy @Lahori-Jawan @andreliem @abr4xas @sebastienvercammen @dionfananie

**🎉Shards Vue is now [available on GitHub](https://github.com/designrevision/shards-vue) and as an [NPM package](https://www.npmjs.com/package/shards-vue).**

It covers more than 85% of all Bootstrap 4 components and also includes support for all the custom components that came with Shards.

All components are

[2018-09-11 16:06] #15 closed

[2018-09-11 16:07] Geczy commented on #15
Congrats on the release. React in sight?

[2018-09-11 16:16] hisk commented on #15
@Geczy The React version is a little bit rough on the edges, but I plan to release it in 3-4 weeks, after another round of updates (Bootstrap 4.1.3) and improvements for Shards, Shards Dashboard Pro and Shards Dashboard Lite. 😁

[2018-09-11 18:55] andreliem commented on #15
Great work @hisk on the vue shards. I'm currently using shards for a new project and having a vue version will be super handy.

[2018-09-28 19:25] vikr01 opened #41 "No tests?"
Are there any tests in this package? I noticed there isn't a `test` script in `package.json`.

[2018-10-08 15:06] #41 closed

[2018-10-08 16:52] hisk opened #43 "Add Visual Regression Testing"
## Problem

Currently, there are no public visual regression tests in Shards and I think this would be the next step towards a more integrated and modern development process.

## Solution

The best course of action here I think would be to use [BackstopJS](https://github.com/garris/BackstopJS) and have a `test` npm script that runs it against an array of scenarios isolated inside a `tests/` direct

[2018-10-09 15:43] hisk commented on #43
@sidbentifraouine Thanks for your suggestion and sorry for the delay! 😃 I assume you are referring to using Jest with [jest-image-snapshot](https://www.npmjs.com/package/jest-image-snapshot). I guess that would work too, but wouldn't it require some more boilerplate? I might be wrong. 🤔

Can you clarify what setup you have in mind and how it would benefit more than using Backstop?

[2018-10-16 07:27] vikr01 opened #45 "Why are there dependencies?"
How is this package intended to be used with `node`?

From what I can tell, the javascript in `src` is being bundled into `dist` with `webpack` and since the `target` is `web` that means those dependencies will be bundled in as well -- which means they'd only need to be `devDependencies` so that the user doesn't need to install it when they install the package.

[2018-10-17 07:54] hisk commented on #45
Hey @vikr01, 👋

Sorry for the delay! You are correct. Would you like to handle this one too? Thanks for your help so far, it's much appreciated! 😊

The only dependency left I guess should be just `bootstrap` since it's required by the main `scss` file only (as far as I remember) and it's not assumed to be installed. I'm not quite sure I understand what you mean with `node`, or that's what you were

[2018-10-18 15:56] robertsamarji commented on #15
Loving the Shards UI kit. Holding out for the React version, can't wait!

[2018-10-19 06:14] vikr01 commented on #45
As far as I can see from the `dist` folder, there is no reference to `bootstrap` except in source maps. I don't think this project needs any dependencies at all.

[2018-10-22 11:39] blcarson commented on #15
Is it possible to get the sketch source for this like you've included with the vue pro version?

[2018-10-22 16:00] hisk commented on #15
@blcarson Hey there! 👋 You can download the Sketch file [here](https://designrevision.com/downloads/shards/). 😄

[2018-10-22 16:07] hisk commented on #45
_(sorry for the delay)_

@vikr01  Oh! I see what you mean now, and you're right. 😄 Some of the dependencies are redundant, except for Bootstrap which is used [here](https://github.com/DesignRevision/shards-ui/blob/master/src/scss/shards.scss#L9).

[2018-10-23 22:10] vikr01 commented on #45
@hisk That's the SCSS in `src`, seems that gets bundled into the CSS in `dist`.

[2018-10-30 14:13] hisk commented on #45
@vikr01 You are correct, but removing `bootstrap` is assuming that everyone is using the compiled styles only. That would force some developers that prefer to have the flexibility of compiling the assets and overriding certain styles to manually install `bootstrap`, which is a bit counter-intuitive.

[2018-12-09 20:57] kvandake opened #47 "Will the npm package be published?"
Issue tracker is **ONLY** used for reporting bugs.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. ...
2. ...
3. ...

## Context (Environment)

## Detailed Description

## Possible Implementation

[2018-12-10 18:15] hisk commented on #47
@kvandake Shards is already available as an [NPM package](https://www.npmjs.com/package/shards-ui). Can you please clarify? 🙂

[2018-12-10 18:15] #47 closed

[2019-02-01 14:11] angelo-moreira commented on #28
This looks amazing, thank you very much

[2019-02-23 07:31] skeemer commented on #18
I'm having problems with this when using the shards-ui package.
Changing to the following seems to work. Is this an npm version thing or ...?

`@import "~bootstrap/scss/functions";`

[2019-02-23 18:10] psenechal commented on #18
That line should probably read

@import “~bootstrap/scss/functions”;

Use ~ instead of -

[2019-02-24 10:39] #39 closed

[2019-02-24 10:39] #45 closed

[2019-02-24 15:19] hisk commented on #18
@skeemer @psenechal I apologize for the delay. Can you please clarify how you are compiling the SCSS files? 😄

[2019-02-25 17:19] psenechal opened #48 "Latest npm release is missing src folder"
2.1.0 release included src/scss folder for shards. Current 2.1.1 release only has dist folder.

## Expected Behavior
2.1.1 release should include the src folder

## Current Behavior
2.1.1 release is missing the src folder

## Possible Solution
Publish the folder so that using shards dashboard can use the npm package for shards ui as in previous release.

## Steps to Reproduce
Update project to sha

[2019-02-25 17:22] psenechal commented on #48
As a work-around for now, I downloaded the zip file of the project and copied the src folder into the shards-ui folder in node_modules

[2019-02-25 18:48] hisk commented on #48
@psenechal My apologies! I have just fixed this in [2.1.2](https://www.npmjs.com/package/shards-ui/v/2.1.2). 😅

[2019-02-25 18:48] #48 closed

[2019-03-28 07:47] piuccio commented on #12
I'm having this same problem when loading bootstrap `4.3.1`

[2019-04-01 13:50] tajchumber commented on #12
me too, can we reopen this issue please?

[2019-04-01 14:04] hisk commented on #12
@piuccio @tajchumber Can you please share the error you are receiving here?

[2019-04-02 09:08] tajchumber commented on #12
@hisk The issue is [here](https://github.com/DesignRevision/shards-ui/blob/1433749e614e8dddc836c6c09cc818141fc78d7f/src/scss/_variables.scss#L759)

The error I get is:
[code]

[2019-04-05 00:59] piuccio commented on #12
I encountered this problem while trying to use `shard-dashboard-lite` inside a next.js project using sass.

If I import `@import "shard-dashboard-lite/src/shards-dashboard/styles/shards-dashboards.1.1.0.min.css";` everything works fine, but when I use `@import "shard-dashboard-lite/src/shards-dashboard/styles/scss/shards-dashboards.scss";` I get the error

[code]

I'm using
[code]

[2019-04-05 17:27] hisk commented on #12
@tajchumber @piuccio The issue is cause due to the fact that Shards does not currently support Bootstrap 4.3.x. Please check and make sure that you are using Bootstrap 4.1.x 😄

Support for the latest version is coming soon.

[2019-04-08 09:51] tajchumber commented on #12
@hisk this problem persists with Bootstrap 4.1.3 as well

[2019-04-11 17:39] Bosskee opened #49 "Checkbox issue"
Hey, I've encountered what might be a bug in the beautiful Shards!

I have a card where I want to use a few checkboxes, so I took the example code right from the documentation, but it ends up like this in my document:
[![Screenshot from Gyazo](https://gyazo.com/c155180ffe692bb73afbbc4112551b8f/raw)](https://gyazo.com/c155180ffe692bb73afbbc4112551b8f)
As you can see, the little checkmark appears ne

[2019-04-11 18:18] #49 closed

[2019-04-11 18:19] Bosskee commented on #49
Didn't have latest version of Shards...!

[2019-04-19 03:21] theara72 opened #50 "Carousel don't event swipe on mobile"
is there any way to make carousel can be swipe on mobile ? . make user click on arrow to move slider really is inconvenient.

[2019-04-30 11:45] Dronax commented on #12
@hisk I have a same problem. I use bootstrap: 4.3.1. Please fix it

[2019-05-09 18:07] aalimovs commented on #12
Same errors here:

**4.3.1** - Error: Incompatible units: 'px' and 'rem'.
**4.1.3** - Error: Incompatible units: 'px' and 'rem'.
**4.0.0-beta** - Error: (en: "Choose file...") isn't a valid CSS value

[2019-05-11 22:26] ItalyPaleAle opened #53 "Installation fails on Node 12"
Running `npm install shards-ui` fails on Node.js 12 (on macOS). There's a compilation error on iltorb, which seems to be caused by an outdated dependency (see: https://github.com/MayhemYDG/iltorb/issues/85 )

Here's the full error:

[code]

[2019-05-25 11:47] ElmirMahmudov commented on #12
i just imported bootstrap after 'shards-dashboards' it worked.

[2019-06-01 13:04] bkstorm commented on #53
Hey guy, how about this issue?

[2019-06-17 08:41] cookieshell commented on #53
@ItalyPaleAle Can you please provide the exact version of Node you're using while having this issue?

[2019-06-17 08:42] cookieshell commented on #50
@theara72 Mobile support is coming soon. Thank you so much for your patience so far!

[2019-06-17 08:43] cookieshell commented on #12
There are known factors that can cause this issue depending on the environment and dependencies versions. Our team will provide a fix as soon as possible. Thank you for your patience!

[2019-06-19 23:28] ItalyPaleAle commented on #53
@cookieshell it looks like it's working now, a dependency must have been updated. It works on 12.4.0 on both macOS and Linux. Closing :)

[2019-06-19 23:28] #53 closed

[2019-06-26 19:04] brysonreece opened #54 "Tooltip/Popover Left/Right Inverted"
## Expected Behavior
When visiting the Shards UI demo page, using the left and right tooltip/popover examples places the info on the opposite of the expected side of the element.

Using `data-placement="left"` should place elements on the left. Similarly `data-placement="right"` should place elements on the right.

# Current Behavior
Example screenshots:

![Screenshot_20190626-135428](https://user

[2019-06-27 06:23] iBelit commented on #12
problem is with this line:759
$popover-arrow-outer-width:           $popover-arrow-width + 1px !default;

i removed "!default" from $popover-arrow-width variable in line 755 and my problem solved!

[2019-07-06 05:32] cjcodes opened #55 "Bootstrap dependency is pinned to an insecure version of bootstrap"
## Expected Behavior
`npm audit` should pass

## Current Behavior
`npm audit` shows a vulnerability in 4.1.3:

[code]

## Possible Solution
Upgrade bootstrap to >= 4.3.1

## Steps to Reproduce
1. Install `shards-react` or any other module that depends on this repo
2. Run `npm audit`

[2019-07-06 05:32] cjcodes commented on #55
I would PR this, but I dunno how to manually verify that there are no regressions.

[2019-07-16 19:26] JuanM04 opened #56 "Bundlesize in devDependences"
It's just that. There is no reason to be in dependences. Also, it helps me very much (it doesn't let me build my Electron app)

[2019-07-30 04:54] cookieshell commented on #56
Fixed in #57

[2019-07-30 04:54] #56 closed

[2019-07-30 04:55] cookieshell commented on #55
Fixed in #57

[2019-07-30 04:55] #55 closed

[2019-07-30 04:55] cookieshell commented on #12
Fixed in #57

[2019-07-30 04:55] #12 closed

[2019-11-28 04:12] vstyler96 commented on #49
I have the same issue, even with shards 3.0.0 and bootstrap 4. I am working with laravel. I can give more details if necesary

[2019-11-28 04:15] vstyler96 commented on #28
Thanks! I really love this project, this is my inspiration for creating my own bootstrap ui kits :3

[2019-12-02 04:17] alim-ansari opened #58 "Note: Bootstrap 4 doesn't supports input-group-addon"

[2019-12-02 04:19] alim-ansari commented on #13
use input-group-text

[2019-12-24 06:55] #58 closed, assigned to nobody

[2020-01-28 00:34] brydonm opened #61 "Long modal is not scrollable and extends past window"
Issue tracker is **ONLY** used for reporting bugs.

## Expected Behavior
If a modal extends past the window, I would expect it to scroll.

## Current Behavior
If a modal extends past the window, you cannot scroll down or see the content past the viewport.

## Possible Solution
In `_modal.scss`:
[code]

Before: https://monosnap.com/direct/mInYN2o3UvH2Z0hWGVJOnm3IjZWDsj
After: https://api.monosnap.c

[2020-03-10 21:55] samdervis commented on #28
This is a very wonderful package. Thank you.
It seems abandoned at the moment @design-revision . No commits since mid-last year

[2020-12-13 07:25] bykpot228 opened #71 "Ui"
Issue tracker is **ONLY** used for reporting bugs.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1. ...
2. ...
3. ...

## Context (Environment)

## Detailed Description

## Possible Implementation

[2020-12-13 08:56] #71 closed, assigned to nobody

[2021-04-01 16:34] MD-AZMAL commented on #12
Having the same issue

code
[code]

Version
[code]

[2021-05-28 17:01] artknight opened #81 "Are you going to upgrade to Bootstrap 5?"
I am wondering if you have any plans upgrading to bootstrap 5. It was some breaking changes that will need to be addressed.

[2022-07-30 22:04] treehousekingcomic opened #86 "Downloading from website does not work"
The last update to this project was 3 years ago, hope its available.
Downloading from the website (https://designrevision.com/downloads/shards/) does not work and the URL just switches to https://designrevision.com/downloads/shards/#edd-free-download-modal without any modal opening.

[2022-10-04 22:05] Manga-Man opened #87 "Navbar Documentation?"
I can't see navbar in the documentation...